*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f5f5f5;
  margin: 0;
  color: #1b1b1b;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

h1 {
    font-family: Helvetica, sans-serif;
}

.artist-details-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/*ArtistDetails.jsx*/
.artist-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    width: 75vw;
    background-color: rgb(199, 225, 226);
    padding: 0 3rem;
}

.artist-details .text {
    font-family: Helvetica;
}

.artist-details img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}